.DS_Store
.vscode/
.kiro/

*/package-lock.json
*/node_modules
gears/backend/package-lock.json
gears/backend/src/logs

gears/fontend/src/package-lock.json
gears/fontend/package-lock.json

gears/db/data/
gears/nginx/crt/*
*/.env
*/*/.env
gears/go2rtc/.env

ffmpeg_serv

